* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
}
p, ul, li{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 24px;
}
ul{
    padding-left: 50px;
    list-style-type: none;
}
ul li::marker{
    content: '● ';
}
h1, h2, h3{
    color: #545e6e;
}
.subtitle{
    margin-bottom: 15px;
}
blockquote{
    border-left: 5px solid #e3e4e5;
    margin: 15px;
}
blockquote p{
    margin: 0;
    padding-left: 10px;
}
/*----------------------------------------------------*/
/*container*/
.container{
    max-width: 680px;
    width: 100%;
    height: 90%;
    margin: 15px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.refer{
    padding-top: 10px;
    padding-left: 50px;
}
/*footer*/
.foot{
    border-top: 1px black solid;
    padding-top: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.box{
    margin: 30px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
}
.link{
    text-decoration: none;
    color: #1cad6e;
}
.footer a{
    color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #1cad6e;
    transition: all 0.6 ease;
}
.footer a:hover{
    transform: scale(1.05);
}
.footer .done{
    background-color: #ad1c1c !important;
}

/*form*/
.input-group{
    padding: 10px 20px;
    position: relative;
}
.input-group div label[for=num]{
    font-size: 14px;
    padding: 0 5px;
    position: absolute;
    top: 5%;
    transform: translateY(-10%);
    left: 30px;
    color: #aaa;
    transition: 0.6s ease all;
    pointer-events: none;
    background-color: #f2f2f2;
}
.input-group input{
    width: 25%;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: transparent;
    transition: 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.input-group input:focus{
    border: solid #007bff;
}
.input-group input:focus ~ label[for=num]{
    color: black;
}

/*hide*/
.input-group-hide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 20px;
    gap: 10px;
}
.input-group-hide div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-group-hide div label{
    margin-right: 20px;
}
.input-group-hide div input{
    width: 150px;
}
